.products__list {
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    display: grid;
    margin-bottom: 61px;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1011px;
    margin-bottom: 60px;
    grid-template-columns: repeat(3, 1fr);
  }
}
