*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  @include fonts();

  display: flex;
  margin: 0;
  flex-direction: column;
  min-width: 320px;
  background-color: $basic-white;
  overflow-x: hidden;

  @media (min-width: $tablet-width) {
    font-size: $main-font-size;
    line-height: $main-line-height;
    background-color: $basic-white;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 320px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1440px;
  }
}

.container__heading {
  position: relative;
  margin: 0;
  margin-bottom: 10px;
  padding-top: 30px;
  font-size: 24px;
  line-height: 36px;

  &::after {
    position: absolute;
    top: 9px;
    left: calc(50% - 37.5px);
    text-transform: uppercase;
    content: "";

    @include fonts($main-font, 12px, 16px, 700, $primary-color);
    letter-spacing: 0.04em;
  }

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
  }
}

.swiper {
  width: 100%;
  height: 656px;

  @media (min-width: $tablet-width) {
    height: 828px;
    overflow: inherit;
    overflow-x: clip;
  }

  @media (min-width: $desktop-width) {
    height: 714px;
  }
}

.swiper-slide {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    padding-top: 51px;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding-top: 30px;
    justify-content: center;
    column-gap: 34px;
  }
}

.swiper-slide-1 {
  background-color: $flat-white;

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    background: linear-gradient(to bottom, $flat-white 0 640px, $basic-white 640px 100%);
  }
}

.swiper-slide-2 {
  background-color: $lavander-latte;

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    background: linear-gradient(to bottom, $lavander-latte 0 640px, $basic-white 640px 100%);
  }
}

.swiper-slide-3 {
  background-color: $espresso-color;

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    background: linear-gradient(to bottom, $espresso-color 0 640px, $basic-white 640px 100%);
  }
}

.swiper__controls {
  position: absolute;
  width: 100%;
  height: 656px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    left: calc(50% - 384px);
  }

  @media (min-width: $desktop-width) {
    left: calc(50% - 695px);
    max-width: 1390px;
    width: 100%;
  }
}

.swiper-button {
  position: relative;
  width: 20px;
  border: none;
  background-color: transparent;
  transition: $basic-animation;
  cursor: pointer;
  z-index: 3;

  &::after,
  &::before {
    @include pseudo();
    width: 13px;
    height: 2px;
    left: 4px;
    background-color: $primary-color;
  }

  &::after {
    top: calc(50% + 3px);
    transform: rotate(-45deg);
  }

  &::before {
    top: calc(50% - 6px);
    transform: rotate(45deg);
  }

  @media (min-width: $tablet-width) {
    width: 80px;

    &::after,
    &::before {
      left: 41%;
    }

    &::after {
      top: calc(50% - 5px);
    }

    &::before {
      top: calc(50% - 14px);
    }
  }

  @media (min-width: $desktop-width) {
    height: 714px;

    &::after,
    &::before {
      left: 74%;
    }

    &::after {
      top: calc(50% + 3px);
    }

    &::before {
      top: calc(50% - 5px);
    }
  }
}

.swiper-button:hover {
  background-color: $basic-white;
}

.swiper-button:active {
  background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
}

.swiper-button:disabled {
  &::after,
  &::before {
    background-color: $basic-grey;
  }
}

.swiper-button-prev {
  transform: scale(-1, 1);
}

.swiper-pagination {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    position: absolute;
    bottom: 47px;
    left: calc(50% - 101px);
    width: 202px;
    height: 50px;
    background-color: transparent;
    z-index: 9;
  }
}

.swiper-pagination-bullet {
  position: relative;
  display: flex;
  align-items: center;
  width: 62px;
  height: 50px;
  cursor: pointer;

  &::after {
    @include pseudo();
    position: absolute;
    width: 62px;
    height: 4px;
    background-color: $basic-white;
    z-index: 9;
    transition: $basic-animation;
  }
}

.swiper-pagination-bullet:hover {
  &::after {
    background-color: $primary-color-opacity;
  }
}

.swiper-pagination-bullet:active {
  &::after {
    background-color: $primary-color;
  }
}

.swiper-pagination-bullet:not(:last-of-type) {
  margin-right: 8px;
}

.swiper-pagination-bullet-active {
  &::after {
    background-color: $primary-color;
  }

  &:hover {
    &::after {
      background-color: $primary-color;
    }
  }
}
